@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');/* import da logo font */
/* Ajustes Gerais no código */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    font-family: sans-serif;
    width: 100%;
}
.footer-claro{
    width: 100%;
    height: 300px;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}
.col1{
    display: flex;
    flex-direction: column;
}
.col2{
    display: flex;
    flex-direction: column;
}
.col3{
    display: flex;
    flex-direction: column;
}
.col4{
    display: flex;
    flex-direction: column;
}
.col5{
    display: flex;
    flex-direction: column;
}
.footer-escuro{
    background-color: #000;
    height: 40px;
    width: 100%;
}