@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');/* import da logo font */

/* Ajustes Gerais no código */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none; 
}
/* Ajustes Gerais no código */
footer{
    width: 100%;
    bottom: 0;
    position: absolute;
}
.footer-claro{
    background-color: #1E2833;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.footer-claro h1{
    -webkit-text-stroke: 1px #000000;
    font-family: 'Inspiration', cursive;
    font-size: 40px;
    text-align: center;
    color: 	#000000;
    margin-top: 20px;
}
.social-row{
    gap: 1.2rem;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.social{
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    display: flex;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}
.link-row{
    font-family: sans-serif;
    gap: 1.2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A1A6AD;
}
.footer-escuro{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #fff;
}