@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');/* import da logo font */
/* Ajustes Gerais no código */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
@media screen and (max-width: 750px) {
    #footer-claro{
        flex-direction: column;
        display: flex;
        gap: 20px;
        text-align: center;
    }
}
/* Ajustes Gerais no código */
footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    font-family: sans-serif;
    width: 100%;
}
.footer-claro{
    background-color: #16263e;
    width: 100%;
    min-height: 250px;
    height: auto;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
footer .logo{
    -webkit-text-stroke: 0.6px #0062ff;
    font-family: 'Inspiration', cursive;
    font-size: 40px;
}
footer h3{
    color: #fff;
    font-size: 17px;
}
footer a{
    font-size: 15px;
    color: #A1A6AD;
}
footer p{
    color: #A1A6AD;
}
.col{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.social-row{
    gap: 0.7rem;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.social{
    color: #fff;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;
    background-color: #0062ff;
    border-radius: 50%;
}
