@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');/* import da logo font */
/* Ajustes Gerais no código */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    font-family: sans-serif;
    width: 100%;
}
.footer-top{
    background-color: #5D3FD3;
    width: 100%;
    height: 50px;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.footer-header h1{
    font-size: 1rem;
}
.footer-header{
    margin-left: 20px;
    order: 1;
}
.social-row{
    font-size: 1.3rem;
    display: flex;
    gap: 20px;
    margin-right: 20px;
    order: 2;
}
.footer-claro{
    background-color: #031B25;
    width: 100%;
    height: 250px;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-claro h2{
    color: #FFF;
    font-size: 1rem;
}
.footer-claro a{
    color: #C2C2C2;
}
.col1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.col1 h2{
    -webkit-text-stroke: 1px #5D3FD3;
    color: #5D3FD3;
    font-family: Inspiration;
    font-size: 50px;
}
.col2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.col3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.col4{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.col5{
    display: flex;
    flex-direction: column;
    gap: 15px;
}




.footer-escuro{
    background-color: #141414;
    width: 100%;
    height: 40px;
    display: flex;
}
.footer-escuro p{
    color: #C2C2C2;
    margin: auto;
}